.page {
  background-color:  #192A33;
  color: #ffffff;
  font-family: 'Alegreya Sans', 'Arial', 'Helvetica', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.page__container {
  max-width: 1280px;
  height: 100vh;
  margin: 0 auto;
}